@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

body{
    font-family: 'Raleway';
}

.abluestar { 
    color: #0065fc;
}

.agreystar {
    color: #F2F2F2;
}
/* Au maximum je vais travailler section par section pour le CSS
Ici la mise en page du header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
/* Nav ok il reste à changer la couleur au survol et ajouter le surlignage */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li{
    margin-left: 40px;
    margin-top: 20px;
}

.login a {
    font-weight: bold;
    margin-right: 20px; 
    color: #0065fc;
}

nav a {
    text-decoration: none;
}

.survol a {
    color: black;
}


.survol :hover {
    border-color: #0065fc;
    border-top-style: solid;
    color: #0065fc;
}
/* le chapeau */

.chapeau {
    margin-left: 100px;
}
h1 {
    font-size: 27px;
    font-weight: bold;
}
.chapeau p {
    font-size: 18px;
}
/* Partie recherche */
.Voletrecherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-left: 80px;
}

.Searchbutton {
    background-color: #0065fc;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 0px 12px 12px 0px;
    font-size: 15px;
}

.Searcharea {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
}

.Position {
    padding: 10px 12px 10px 12px;
    background-color: #F2F2F2;
    border-radius: 12px 0px 0px 12px;

}

/* Partie filtre */

.Filtres {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 100px
}

.Filtres {
    font-weight: bold;

}
.Filtres a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-color: #F2F2F2;
    border-radius: 50px;
    padding-right: 20px;
    text-decoration: none;
    color:black;
}

.Filtrosurvol :hover {
    border-radius: 50px;
    background-color: #deebff;
    color: #0065fc;
}

.logofiltres {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50px;
    padding: 19px;
    margin-right: 17px;
}

.logoinfo {
    color: #0065fc;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    padding: 7px 10px 7px 10px;
    font-size: 9px;
}
.Logedispo{
    
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 23%;

}

/*On passe au footer*/
/* Footer ok, réduire le conteneur pour qu'il ne fasse pas toute
la largeur et voir pour la taille de la police */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #F2F2F2;
}

footer a{
    text-decoration: none;
    color: black;
}
.Apropos {
    margin-left: 100px;
}

.Assistance {
    margin-right: 400px;
}

h3 {
font-weight: bold;
}

footer ul {
    list-style: none;  
}

/* Section centrale incluant Hébergements à Marseille et Les plus populaires */
.Hotel {
   display: flex; 
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: space-between;
}

/* Partie les plus populaires */

.populaires {
    width: 27%;
    height: auto;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 20px;
    margin-right: 100px;
}

.Titrelespluspopulaires {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    width: 70%;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.Tuilepopu {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.Tuilepopu a {
    text-decoration: none;
    color: black;
}

.Popudisplay {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.popudisplayjpg img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border-style: solid;
    border-width: 4px 0px 4px 4px;
    border-color: white;
}

.popudisplayhotel {
background-color: white;
width: 250px;
height: 170px;
border-radius: 0px 20px 20px 0px;
border-style: solid;
border-width: 4px;
border-color: white;
}
.popudisplayhotel p {
    margin-left: 20px;
}

.etoiles {
    margin-top: 60px;
}

.stars {
    margin-top: 40px;
}

.nomhotel {
    font-weight: bold;
    font-size: 18px;
}

/* Partie hébergements */

.hébergements {
    width: 58%;
    height: auto;
    background-color: #F2F2F2;
    margin-left: 100px;
    border-style: none;
    border-radius: 20px;
}

.hébergements strong{
    font-weight: bold;
}
.Tuile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Tuile a {
    text-decoration: none;
    color: black;
}

.hoteldisplay {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: white;
    width: 300px;
    height: auto;
}

.hoteldisplay p{
    margin-left: 10px;
}

.Titrehebergements {
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
}

.Afficher {
    font-size: 19px;
    font-weight: bold;
    margin-left: 60px;
}
.hoteldisplay img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* Partie activités */

.activités {
    width: 90%;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.Tuilacti {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}
.Tuilacti a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Tuilacti p {
    margin-left: 15px;
}

.activdisplay1 {
    height: 600px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 3.6px 10.1px rgba(0, 0, 0, 0.05),
  0 29px 81px rgba(0, 0, 0, 0.1);
}

.activdisplay1 img {
    height: 550px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}

.Colonne {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    align-self: center;
    margin-bottom: 20px;
}

.activdisplay2 {
    height: 270px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 3.6px 10.1px rgba(0, 0, 0, 0.05),
  0 29px 81px rgba(0, 0, 0, 0.1);
}

.activdisplay2 img {
    width: 400px ;
    height: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}
.Titreactivites {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}
