@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

body{
    font-family: 'Raleway';
}
/* Au maximum je vais travailler section par section pour le CSS
Ici la mise en page du header */

.hébergements strong{
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Nav ok il reste à changer la couleur au survol et ajouter le surlignage */
nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li{
    margin-right: 30px;
    margin-top: 20px;
}

nav #login {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #0065FC;
}

/*On passe au footer*/
/* Footer ok, réduire le conteneur pour qu'il ne fasse pas toute
la largeur et voir pour la taille de la police */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
font-weight: bold;
}

footer ul {
    list-style: none;  
}

/* Partie les plus populaires */

.populaires {
    display: flex;
    flex-direction:column ;
    justify-content: flex-end;
}

.hébergements {
    width: 70%;
    height: 700px;
    background-color: #F2F2F2;
    margin-right: 20px;
}
.Tuile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hoteldisplay {
    background-color: white;
    margin: 20px;
    }

    .hoteldisplay img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}


.activites {
    display: flex;
    flex-direction: row;
}