@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

body{
    font-family: 'Raleway';
}
/* Au maximum je vais travailler section par section pour le CSS
Ici la mise en page du header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Nav ok il reste à changer la couleur au survol et ajouter le surlignage */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li{
    margin-left: 40px;
    margin-top: 20px;
}

.login a {
    font-weight: bold;
    margin-right: 20px; 
    color: #0065fc;
}

nav a {
    text-decoration: none;
}

.survol a {
    color: black;
}


.survol :hover {
    border-color: #0065fc;
    border-top-style: solid;
    /* border-width: 20px; */
    color: #0065fc;
}

/* Partie recherche */
.Voletrecherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-left: 20px;
}

.Searchbutton {
    background-color: #0065fc;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 0px 12px 12px 0px;
}

.Searcharea {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
}

.Position {
    padding: 10px 12px 10px 12px;
    background-color: #F2F2F2;
    border-radius: 12px 0px 0px 12px;

}

/* Partie filtre */

.Filtres {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}

.Filtres {
    font-weight: bold;

}
.Filtres a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-color: #F2F2F2;
    border-radius: 50px;
    padding-right: 20px;
    text-decoration: none;
    color:black;
}

.Filtrosurvol :hover {
    border-radius: 50px;
    background-color: #deebff;
    color: #0065fc;
}

.logofiltres {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50px;
    padding: 19px;
    margin-right: 17px;
}

.logoinfo {
    color: #0065fc;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    padding: 7px 10px 7px 10px;
    font-size: 9px;
}
.Logedispo{
    
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 23%;

}

/*On passe au footer*/
/* Footer ok, réduire le conteneur pour qu'il ne fasse pas toute
la largeur et voir pour la taille de la police */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #F2F2F2;
    }

.Apropos {
    margin-left: 50px;
}

.Assistance {
    margin-right: 350px;
}

h3 {
font-weight: bold;
}

footer ul {
    list-style: none;  
}

.Hotel {
   display: flex; 
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: space-around;
   margin-right: 20px;
   margin-left: 20px;

}

/* Partie les plus populaires */

.populaires {
    width: 25%;
    height: 700px;
    background-color: #F2F2F2;

}

.Tuilepopu {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    flex-wrap: wrap;
}

.popudisplay {
background-color: white;
margin-top: 30px;
width: 200px;
height: 150px;
}

.popudisplay img {
    width: 150px;
    height: 150px;
    object-fit: cover;

}

/* Partie hébergements */

.hébergements {
    width: 60%;
    height: 700px;
    background-color: #F2F2F2;
}

.hébergements strong{
    font-weight: bold;
}
.Tuile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hoteldisplay {
    background-color: white;
    margin: 30px;
    }

    .hoteldisplay img {
    width: 250px;
    height: 130px;
    object-fit: cover;
}

/* Partie activités */

.activités {
    background-color: thistle;
    width: 90%;
    height: 700px;
    margin-left: 20px;
    margin-right: 20px;
}
.Tuilacti {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}

.activdisplay1 {
    background-color: teal;
    height: 600px;
    width: 400px;
}

.activdisplay1 img {
    height: 550px;
    width: 400px;
    object-fit: cover;

}

.Colonne {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    align-self: center;
}

.activdisplay2 {
    background-color: teal;
    height: 270px;
    width: 400px;
}

.activdisplay2 img {
    width: 400px ;
    height: 220px;
    object-fit: cover;
}
