@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

body{
    font-family: 'Raleway';
    max-width: 1440px;
    margin: 0 auto;
}

.abluestar { 
    color: #0065fc;
}

.agreystar {
    color: #F2F2F2;
}

/* Ici la mise en page du header */

/* .bureau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
} */
/* Nav ok il reste à changer la couleur au survol et ajouter le surlignage */
/* .desktop {
    width: 100%;
    height: auto;
}

.desktop ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 30px;
}

.desktop a {
    display: flex;
    justify-content: flex-end;
}  

.desktop .login a{
    font-weight: bold;
    color: #0065fc;
    padding: 0px;
    width: min-content;
    text-align: end;
}

.desktop a {
    text-decoration: none;
    padding: 20px;
    width: 33%;
    height: auto;
    text-align: center;
}
.survol a {
    color: black;
}

.desktop .survol :hover {
    padding-top: 20px;
    border-color: #0065fc;
    border-top-style: solid;
    border-width: 3px;
    color: #0065fc;
    font-weight: bold;
} */

.desktop a {
    text-decoration: none;
    color: black;
}
.login a {
    color: #0065fc;
    font-weight: bold;
}

.desktop ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content:;
}

h1 {
    font-size: 27px;
    font-weight: bold;
}
.chapeau p {
    font-size: 18px;
}

/* Partie recherche */
.Voletrecherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}
.Searchbuttonmob {
    display: none;
}
.Searchbutton {
    background-color: #0065fc;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 0px 12px 12px 0px;
    font-size: 15px;
    cursor: pointer;
}

.Searcharea {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
}

.Position {
    padding: 11px 12px 10px 12px;
    background-color: #F2F2F2;
    border-radius: 12px 0px 0px 12px;
}

/* Partie filtre */

.Filtres {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    font-weight: bold;
}

.Filtres a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-color: #F2F2F2;
    border-radius: 50px;
    padding-right: 20px;
    text-decoration: none;
    color:black;
}

.Filtrosurvol :hover {
    border-radius: 50px;
    background-color: #deebff;
    color: #0065fc;
}

.logofiltres {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50px;
    padding: 19px;
    margin-right: 17px;
}

.logoinfo {
    color: #0065fc;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    padding: 7px 10px 7px 10px;
    font-size: 9px;
    margin-right: 10px;
}
.Logedispo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.fa-child {
    padding: 20px 22px;
}

.fa-money-bill-wave {
    padding: 20px 18px
}

/*On passe au footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #F2F2F2;
}

footer a{
    text-decoration: none;
    color: black;
}
.Apropos {
    margin-left: 100px;
}

.Assistance {
    margin-right: 400px;
}

h3 {
font-weight: bold;
}

footer ul {
    list-style: none;  
}

.footerlink {
    margin-bottom: 7px;
}

/* Section centrale incluant Hébergements à Marseille et Les plus populaires */
.Hotel {
   display: flex; 
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: space-between;
   width: 100%;
   height: auto;
}

/* Partie les plus populaires */

.populaires {
    width: 30%;
    height: auto;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 20px;
}

.Titrelespluspopulaires {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 80%;
    font-size: 30px;
    margin-left: 40px;
}

.Tuilepopu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
    margin: auto;
}
.Tuilepopu a {
    text-decoration: none;
    color: black;
}

.Popudisplay a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.Popudisplay {
    margin-bottom: 20px;
}

.popudisplayjpg img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border-style: solid;
    border-width: 4px 0px 4px 4px;
    border-color: white;
}

.popudisplayhotel {
background-color: white;
width: auto;
height: 170px;
border-radius: 0px 20px 20px 0px;
border-style: solid;
border-width: 4px;
border-color: white;
box-shadow:
  0 3.6px 10.1px rgba(0, 0, 0, 0.05),
  0 29px 81px rgba(0, 0, 0, 0.1);
}
.popudisplayhotel p {
    margin-left: 10px;
}

.stars {
    margin-top: 40px;
    line-height: 2;
}

.Popudisplay .nomhotel {
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
}

.Popudisplay .prixhotel {
    font-size: 15px;
    line-height: 1;
}

/* Partie hébergements */

.hébergements {
    width: 65%;
    height: auto;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 20px;
}

.hébergements strong{
    font-weight: bold;
}
.Tuile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Tuile a {
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
}

.hoteldisplay {
    background-color: white;
    margin: 0px 15px 25px 15px;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: white;
    width: 250px;
    height: auto;
    box-shadow:
  0 3.6px 10.1px rgba(0, 0, 0, 0.05),
  0 29px 81px rgba(0, 0, 0, 0.1);
}

.hoteldisplay p{
    margin-left: 10px;
}

.Titrehebergements {
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}

.Afficher a {
    font-size: 19px;
    font-weight: bold;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}
.hoteldisplay img {
    width: 250px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.hoteldisplay .nomhotel {
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
}

.hoteldisplay .prixhotel {
    font-size: 15px;
    line-height: 0.5;
}
.hoteldisplay .etoiles {
    line-height: 0.5;
}

/* Partie activités */

.activités {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.Tuilacti {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}
.Tuilacti a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Tuilacti p {
    margin-left: 15px;
}

.activdisplay1 {
    height: 100%;
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 3.6px 10.1px rgba(0, 0, 0, 0.05),
    0 29px 81px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.activdisplay1 img {
    height:450px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.Colonne {
    display: flex;
    flex-direction: column;
    width: 47%;
}

.activdisplay2 {
    height: 47%;
    width: 95%;
    border-radius: 20px;
    box-shadow: 0 3.6px 10.1px rgba(0, 0, 0, 0.05),
    0 29px 81px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.activdisplay2 img {
    width: 100% ;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.Titreactivites {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}
